<%- include('partials/header') %>

<main>
  <h2>Adicionar livro</h2>

  <% if (livro) { %>
    <form class="add-form" action="/biblioteca/editar/<%= livro.id %>?_method=PUT" method="post">
  <% } else { %>
    <form class="add-form" action="/biblioteca" method="post">
  <% } %>

    <label for="titulo">Título</label>
    <input type="text" name="titulo" id="titulo" value="<%= livro && livro.titulo %>">

    <label for="editora">Editora</label>
    <input type="text" name="editora" id="editora" value="<%= livro && livro.editora %>">

    <button type="submit">Enviar</button>
  </form>
</main>

<%- include('partials/footer') %>