<%- include('partials/header') %>

<main>
  <div class="search-box">
    <a class="add-button" href="/biblioteca/form">Adicionar</a>
    <form method="get">
      <button type="submit">Search</button>
      <input type="search" name="search" id="search">
    </form>
  </div>

  <div class="column-header">
    <div class="column">
      <h4>ID</h4>
    </div>
    <div class="column">
      <h4>Título</h4>
    </div>
    <div class="column">
      <h4>Editora</h4>
    </div>
    <div class="column">
      <h4>Ações</h4>
    </div>
  </div>

  <div class="body">
    <% livros.forEach(livro => { %>
      <div class="row">
        <span class="item"><%= livro.id %></span>
        <span class="item"><%= livro.nome %></span>
        <span class="item"><%= livro.editora.nome %></span>
        <span class="item actions">
          <a href="/biblioteca/form/<%= livro.id %>">Editar</a>
          <form action="/biblioteca/deletar/<%= livro.id %>?_method=DELETE" method="post">
            <button type="submit">Deletar</button>
          </form>
        </span>
      </div>
    <% }) %>
  </div>
</main>

<%- include('partials/footer') %>