<%- include('partials/header') %> 

    <main>
      <section class="servicos-lista">
        <div class="container">
          <h1>Serviços</h1>

          <% for( const servico of listaServicos ) { %>
              <article>
                <div class="thumb">
                  <img src="/images/servicos/<%=servico.imagem%>" />
                </div>
                <div class="info">
                  <form action="/carrinho" method="post">
                    <h3><%= servico.nome %></h3>
                    <P><%= servico.valor %> </P>
                    <p><%= servico.descricao %></p>
                    <input type="hidden" name="servicoId" value="<%= servico.id %>">
                    <button type="submit" class="btn btn-primary">agendar</button>
                  </form>
                </div>
              </article>
            <% } %>
      
        </div>
      </section>
    </main>

<%- include("partials/footer") %>